{% extends "base.html" %}

{% block content %}
    <!-- Galvene -->
    <div class="text-bg-success p-3">
        <div class="container">
            <div class="row p-3">
                <div class="col">
                    <h1 class="text-center">Latviešu valodas palīgs - valodniecības nozarēs</h1>
                </div>
            </div>
        </div>
    </div>
    

    <!-- Pogas -->
    <div class="container">
        <div class="row text-center nav-buttons mt-5">
            <div class="col-md-3 col-sm-6 mb-2">
                <a href="index.html" class="btn btn-success btn-lg">Sākums</a>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <a href="morfologija.html" class="btn btn-success btn-lg">Morfoloģija</a>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <a href="sintakse.html" class="btn btn-success btn-lg active">Sintakse</a>
            </div>
            <div class="col-md-3 col-sm-6 mb-2">
                <a href="leksikologija.html" class="btn btn-success btn-lg">Leksikoloģija</a>
            </div>
        </div>
    </div>

    <!-- Sintakses saturs -->
    <div class="container">
        <div class="row m-5">
            <div class="col">
                <div class="alert alert-success" role="alert">
                    <h4><b>Sintakses</b> valodniecībā lieto divās nozīmēs.</h4>
                    <p class="text-success mb-2"><b>Pirmkārt,</b> par <b>sintaksi</b> sauc valodniecības (arī gramatikas) nozari, kas pētī komunikatīvu (jeb sazināšanās) vienību veidošanas likumsakarības, šo vienību uzbūvi un funkcijas.</p>
                    <p class="text-success mb-0"><b>Otrkārt,</b> par <b>sintaksi</b> sauc valodas parādību kopumu, kas saistīts ar komunikatīvu vienību veidošanu un lietošanu.</p>
                </div>

                <h5>Mūsdienu sintaksē var izdalīt divus pamatvirzienus:</h5>
                <div class="row text-center mb-4">
                    <div class="col-md-6">
                        <h5 class="text-success"><b>Tradicionālā sintakse</b></h5>
                        <p>Tai raksturīgs vairāku, bet teorētiski ne vienmēr precīzi nošķirtu viedokļu izmantojums.</p>
                    </div>
                    <div class="col-md-6">
                        <h5 class="text-success"><b>Strukturālā sintakse</b></h5>
                        <p>Cenšas rast noteiktu metodi, šķirt pētīšanas viedokļus un iegūt teorētiski pamatotus un pārbaudāmus rezultātus.</p>
                    </div>
                </div>

                <h6>Svarīgākā vienība ir <u>teikums</u></h6>
                <div class="text-center mb-4">
                    <p>Vienkāršs teikums (1 gramatiskais centrs)</p>
                    <div class="row">
                        <div class="col-md-6">
                            <p>Vienkopu teikums (1 teikuma loceklis)</p>
                        </div>
                        <div class="col-md-6">
                            <p>Divkopu teikums (2 teikuma locekļi: teikuma priekšmets, izteicējs)</p>
                        </div>
                    </div>
                </div>
                <h6><u>Izsacījumi</u> - nav gramatiskais centrs (Piem. Paldies; Jā; Manis <u>pēc</u>)</h6>

                <h5 class="text-center mt-5" ><b>Teikuma iedalījums</b></h5>
                <div class="row">
                    <div class="col-md-6">
                        <p><b>Pēc izteikuma mērķa:</b></p>
                        <ul>
                            <li>Stāstījuma</li>
                            <li>Rosinājuma (izsaukuma)</li>
                            <li>Vēlējuma (izsaukuma)</li>
                            <li>Izsaukuma (emocijas)</li>
                            <li>Jautājuma</li>
                        </ul>
                    </div>
                    <div class="col-md-6">
                        <p><b>Pēc uzbūves:</b></p>
                        <ul>
                            <li>SST (Saliktais sakārtojuma teikums)</li>
                            <li>SPT (Saliktais pakārtojuma teikums)</li>
                            <li>JST (Jauktais saliktais teikums)</li>
                            <li>VPT (Vienkāršais paplašinātais teikums)</li>
                            <li>VNT (Vienkāršais nepaplašinātais teikums)</li>
                        </ul>
                    </div>
                </div>

                <p>Teikumā noteikts novietojums ir apzīmētājam, pielikumam, divatieksmju palīgloceklim un savrupinātajiem teikuma locekļiem.</p>

                <h6><b>Savrupinājumi</b>: <span class="text-success">apzīmētājs</span>, <span class="text-primary">pielikums</span>, <span class="text-danger">apstāklis</span></h6>
                
                <div class="row">
                    <div class="col-md-4">
                        <p><b class="text-success">Apzīmētājs</b> - ja apzīmētājs vai apzīmējuma grupa atrodas teikuma beigās, tad liek domuzīmi "-".</p>
                    </div>
                    <div class="col-md-4">
                        <p><b class="text-primary">Pielikums</b></p>
                        <ul>
                            <li>profesija</li>
                            <li>radniecība</li>
                            <li>piederība grupai u.c.</li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <p><b class="text-danger">Apstāklis</b> - palīgloceklis, kas norāda darbības vietu, laiku, veidu, nolūku, cēloni vai pazīmes mēru. Savrupina viena nosaukuma apstākļus, kas precizē iepriekšējo apstākli.</p>
                    </div>
                </div>

                <div class="mt-4">
                    <p><b>Divdabja teiciens</b> - savrupināta vārda grupa, kuras pamatā ir divdabis. <span class="text-success">(divdabis + paskaidrojošs teikuma palīgloceklis)</span></p>
                    <p class="text-success"><b>Divdabji kas veido divdabja teicienu:</b></p>
                    <ul class="text-success">
                        <li>-is; -ies; -usi; -usies</li>
                        <li>-ts; -ta</li>
                        <li>-dams; -dama; -damies; -damās</li>
                        <li>-ot; -oties</li>
                    </ul>
                    <div class="alert alert-warning">
                        <p><b>!</b> Divdabja teicienā ar komatu vienmēr jāatdala teikuma gramatiskais centrs, sakārtojuma un/vai pakārtojuma vārdi <b>!</b></p>
                        <p>Pirms vienl. teik. loc. saikļiem liek komatu - nevis, bet, tomēr, lai gan u.c.</p>
                    </div>
                </div>

                <div class="mt-4">
                    <p><b>Iespraudumi</b> - vārdi vai vārdu savienojumi kam nav teik. loc. funkciju un ir sintaktiski neatkarīgas vienības.</p>
                    <p>Tie izsaka runātāja attieksmi:</p>
                    <ul>
                        <li>pirmkārt; iespējams; manuprāt; par laimi; tiešām;</li>
                    </ul>
                    <div class="alert alert-info">
                        <p><b>!</b> No pārējiem teik. loc. atdala ar komatiem, domuzīmēm vai iekavām <b>!</b></p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
{% endblock %}
