{% extends "base.html" %}

{% block content %}
    <!-- Sākuma lapas saturs -->
    <div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <h3 class="text-center">Kas ir valodniecības nozares?</h3>
            <p style="text-align: start;">
                Valodniecība ir zinātne, kas pēta valodu sistēmas, to uzbūvi, īpatnības, funkcionēšanu un attīstību. 
                Tā ietver vispārējo un konkrēto valodniecību. Vispārējā valodniecība pēta valodas universālās īpašības, 
                piemēram, morfoloģiju, sintaksi un leksikoloģiju, kamēr konkrētā valodniecība fokusējas uz specifisku 
                valodu vai valodu grupu detalizētu izpēti. Valodniecība sastāv no vairākām jomām, tostarp fonētikas, 
                gramatikas, leksikoloģijas, frazeoloģijas, stilistikas un valodas attīstības.
            </p>
            <h6>Atsauces:</h6>
            <a href="http://valoda.ailab.lv/latval/vidusskolai/leksikologija/leksikolog/">http://valoda.ailab.lv/latval/vidusskolai/leksikologija/leksikolog/</a><br>
            <a href="https://www.uzdevumi.lv/p/latviesu-valoda/12-klase/sintakse-6584">https://www.uzdevumi.lv/p/latviesu-valoda/12-klase/sintakse-6584</a><br>
            <a href="http://valoda.ailab.lv/latval/vidusskolai/morfol/index.htm">http://valoda.ailab.lv/latval/vidusskolai/morfol/index.htm</a><br>
            <a href="https://www.letonika.lv/groups/default.aspx?title=nouns.htm">https://www.letonika.lv/groups/default.aspx?title=nouns.htm</a>
        </div>     
        <div class="col-lg-4">
            <img src="bildes/valdoniecības nozares.png" class="img-fluid" alt="Valodniecības nozaru diagramma">
        </div>
    </div>
</div>
    
{% endblock %}